.backgroun-gredient{
background: url(../img/galaxyswap-background-3.jpg);
background-size: cover;
background-repeat: no-repeat;
padding: 0;
}
.ghost{
  background: url(../images/new/podium-gswap-5.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position-x: right;
  background-position-y: top;
  padding: 0;
  }

.top-nav-bg{
background: #0B001E 0% 0% no-repeat padding-box;
box-shadow: 0px 3px 69px #FF1FFF40;
opacity: 1;
}

.center-box{
background: #0B001E 0% 0% no-repeat padding-box;
box-shadow: 0px 3px 99px #FF1FFF38;
border-radius: 8px;
opacity: 1;
}
.pink-color{
  color: #FF1FFF;
}
.pink-dropdown{
background: #FF00FF 0% 0% no-repeat padding-box;
border-radius: 4px;
opacity: 1;
color: #ffffff;
}
.btn-border-pink{
border: 1px solid #FF00FF;
border-radius: 6px;
opacity: 1;
}
.btn-social{
  background: #FF00FF 0% 0% no-repeat padding-box;
  border-radius: 50%;
  opacity: 1;
  width: 42px;
  height: 42px;
  color: #f1f1f1;
  font-size: 1.1rem;
  text-align: center;
  padding: 7px;
  margin-right: 25px;
  }
.left-exchange-icon{
background: url(../img/hamburger-menu-image.png);
background-size: cover;
background-repeat: no-repeat;
background-position-y: top;
height: 45px;
width: 200px;
padding-top: 10px;
padding-left: 50px;
color: #f1f1f1;
margin-top: 40px;
margin-left: 70px;
font-weight: 400;
}
.left-farms-icon{
  background: url(../img/hamburger-menu-image.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 10% 24%;
  height: 45px;
  width: 200px;
  padding-top: 10px;
  padding-left: 50px;
  color: #f1f1f1;
  margin-top: 10px;
  margin-left: 70px;
  font-weight: 400;
  }
  .left-pool-icon{
    background: url(../img/hamburger-menu-image.png);
    background-repeat: no-repeat;
    background-position-y: end;
    height: 45px;
    width: 200px;
    padding-top: 10px;
    padding-left: 50px;
    color: #f1f1f1;
    margin-top: 10px;
    margin-left: 70px;
    font-weight: 400;
    }
.top-btn{
  background: #271049 0% 0% no-repeat padding-box;
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 10px;
  padding-bottom: 10px;
}
.dark-card{
background: #61319F 0% 0% no-repeat padding-box;
border-radius: 8px;
opacity: 0.5;
}
.dark-dropdown{
background: #442B64 0% 0% no-repeat padding-box;
border-radius: 4px;
opacity: 1;
color: #f1f1f1;
}
.dark-input{
  background: #442B64 0% 0% no-repeat padding-box;
}
.pink-gredient{
background: transparent linear-gradient(90deg, #FF1FFF 0%, #A700FF 100%) 0% 0% no-repeat padding-box;
border-radius: 4px;
opacity: 1;
}
.footer-bg{
  background: #030007 0% 0% no-repeat padding-box;
}

a:link{
  color:#f1f1f1 !important;
}
a:hover{
  color:#f1f1f1 !important;
}



.x2-border{
  border: 2px solid;
}
.shadow-info{
  box-shadow:0 .5rem 1rem rgba(2, 137, 248, 0.178)!important;
}
.btn-top{
  border: 1px solid rgb(3, 182, 253);
}
.top-corner{
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
}
.xrounded {
  border-radius: 8px !important;
}
.footer a {
  color:#ffffff !important;
}
.footer-gredient{
  background-image: linear-gradient(to right, rgba(0, 140, 255, 0.9), rgba(0,118,2550,0.7));
}
.product-card {
  display: flex;
  flex-direction: column;
  min-width: 0;
  background-clip: border-box;
  border-radius: 0.9rem;
  padding: 1%;
  width: 97%;
  margin-left: 1.5%;
}

.xsmall {
  font-size: 0.55rem;
}

.mg-top-10 {
  margin-top: -10px;
}

.pink {
  color: #FD3A84;
}

.xs-btn {
  font-size: 0.60rem;
  font-weight: 800;
  padding: 4px;
}

.user {
  width: 30px;
  height: 30px;
  margin-left: 10px;
}

.f12 {
  font-size: 0.7rem;
}

.f14 {
  font-size: 0.8rem;
  padding-left: 5px;
}

.f10 {
  font-size: 10px;
}

.thumbnails {
  /*padding: 1%;*/
  width: 100%;
}
.thumb-table{
  margin-left: 10px;
  margin-top: 10px;
  width: 92%;
}
.thumb-table td{
  padding-left: 9px;
}
.img-thumb {
  width: 99%;
}
.card-rm{
margin-right: 31px;
}
.profile-banner{
background: url(../img/profile-banner.png);
background-size: cover;
background-repeat: no-repeat;
min-height: 200px;
}
.profile-edit{

  padding-top: 70px;
  min-height: 100px;
  padding-bottom: 20px;
  }
.margin-right{
  margin-right: -50px;
  margin-top: -90px;
  margin-bottom: -70px;
}
.bottom-circle{
  margin-right: -90px;
  margin-top: -110px;
  margin-bottom: 20px;
}
.circle-center{
  margin-left: -90px;
  margin-top: 40px;
}
.circle-icons{
 width: 150px;
 height: 150px;
 background-color: rgb(213, 245, 255);
 border: 4px solid rgb(255, 255, 255);
 padding-top: 20px;
 margin-bottom: 40px;
}
.small-circle-icons{
  min-width: 120px;
  min-height: 120px;
  width: auto;
  height: auto;
  margin-right: 47px;
  background-color: rgb(213, 245, 255);
  border: 4px solid rgb(255, 255, 255);
 }
.my-custom-scrollbar {
  position: relative;
  height: 100px;
  overflow: auto;
  }
  .table-wrapper-scroll-y {
  display: block;
  }
  .d-flex-right{
    margin-right: -10px;
  }

/* width */
::-webkit-scrollbar {
  width: 4px;
  border-radius: 4px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}


.onoffswitch {
  position: relative; width: 155px;
  -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
}
.onoffswitch-checkbox {
  display: none;
}
.onoffswitch-label {
  display: block; overflow: hidden; cursor: pointer;
  border: 2px solid rgb(3, 182, 253); border-radius: 8px;
}
.onoffswitch-inner {
  display: block; width: 200%; margin-left: -100%;
  transition: margin 0.3s ease-in 0s;
}
.onoffswitch-inner:before, .onoffswitch-inner:after {
  display: block; float: left; width: 50%; height: 34px; padding: 0; line-height: 34px;
  font-size: 14px; color: white; font-family: Trebuchet, Arial, sans-serif; font-weight: bold;
  box-sizing: border-box;
}
.onoffswitch-inner:before {
  content: "Live";
  padding-left: 10px;
  background-color: rgb(255, 255, 255); color:rgb(3, 182, 253);;
}
.onoffswitch-inner:after {
  content: "Finished";
  padding-right: 10px;
  background-color: rgb(3, 182, 253); color: #ffffff;
  text-align: right;
}
.onoffswitch-switch {
  display: block; width: 46px; margin: 2px;
  background: #FFFFFF;
  position: absolute; top: 0; bottom: 0;
  right: 101px;
  border: 2px solid rgb(3, 182, 253); border-radius: 8px;
  transition: all 0.3s ease-in 0s; 
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
  margin-left: 0;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
  right: 0px; 
}
